doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Chatting
        main
            div#welcome
                form
                    input#roomName(placeholder="room name" required, type="text")
                    input#name(placeholder="Nickname" required, type="text")
                    button Enter Room
                h4 Open Rooms :
                ul
            div#call
                div#room
                    h3
                    ul
                    form#msg
                        input(placeholder="message", required, type="text")
                        button Send
                div#myStream
                    video#myFace(autoplay,playsinline,width="400",height="400")
                    buttom#mute Mute
                    button#camera Trun Camera OFF
                    select#cameras
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type="text/javascript",src="/public/js/app.js")

